/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
}
.centrar{
    margin: 0 auto;
}
.show{
    background-color: #03213a;
    /* background-color: transparent; */
}
.show .nav-link-custom{
    background-color: rgba(0, 0, 0, 0.2);
}
.tamaño{
    font-size: 50px;
    width: 20px;
    height: 20px;
}


/* HEADER CONTENEDOR*/

.contenedor-header{
    width: 100%;
    height: 100%;
}

/* NAV */

.navbar{
    box-shadow: none;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.top-nav-collapse{
    background: #03213a !important;
}
.nav-link-custom{
    width: 120px;
    text-align: center;
    padding: 5px ;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
   
}
.nav-link-custom:hover{
    color: #ffe83f;
}
.nav-link-service{
    padding: 5px ;
    margin: 0;
    font-size: 15px;
    color: #fff !important;
}
.nav-link-service:hover{
    color: #ffe83f !important;
}
.dropdown-menu{
    background-color: #03213a !important;
    padding: 20px;
}
.dropdown-item{
    color: #fff !important;
}
.dropdown-item:hover{
    background-color: rgba(73, 75, 75, 0.205);
}
.contacto-border{
    border: 1px solid #fff;
}
.contacto-border:hover{
    transition: 0.5s;
    background-color: #fff;
    color: #03213a;
}

  /*   HEADER  */
   
.header-encabezado{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/fondo-index.jpg');
    background-color: rgb(73, 75, 75);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}
.header-texto{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30%;
}
.header-texto h3{
    padding: 10px; 
    font-size: 100px;
    color: #fff;
    font-family: 'Raleway' , sans-serif;
    text-align: center;
    align-self: center;
   
}
.header-texto p{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 10%;

}
.header-texto a{
    color: #fffb59;
    /* margin: 0 auto; */
    align-self: center;
    font-size: 50px;
    
   
    
}

   /*  ICONO WHATSAPP */
 .whatsapp {
    display: flex;
    height: 60px;
    width: 60px; 
    border: none;
    border-radius: 50%;
    justify-content: center;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    margin: 10px;
    bottom: 20px;
    background: #25D366;
    
}
.whatsapp i{
    margin: 10px;
    font-size: 38px;
    color: #fff;
} 


    /* SERVICIOS */

.servicios{
    width: 100%;
    height: 100%;
    /* background: #03213a; */
  /*   background: #fff; */
     background: #fff;
    
     padding: 10px 0 50px 0;
}
    .servicios h1{
        color: #000;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin: 25px;
        padding: 50px;
    }
    .servicios h1::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 0 auto;

    }
    .servicios-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
       
    }
        .servicios-card{
            height: 100%;
            width: 400px;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 10px;
        }
        .margin-a{
            margin: 10px;
        }
            .servicios-card img{
                width: 300px ;
                height: 300px ;
            }
            .servicios-card img:nth-child(4){
                width: 400px ;
                height: 400px ;
                background: #000;
            }
            .servicios-card h3{
                color: #000;
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
            }
            .servicios-card p{
                color: #000;
                font-size: 18px;
                padding: 15px 5px;
                font-family: 'Roboto', sans-serif;
                text-align: center;
            }
            .servicios-card button {
                align-self: center;
                background-color: #fffb59;
                color: #000;
                border-radius: 5px;
                border: none;
                margin: 20px;
                padding: 10px;
                width: 50%;
                cursor: pointer;
            }
            .servicios-card:hover{
                cursor: pointer;
                background-color: #ffd366;
                color: #000;
                transition: 0.5s;
            }
            .servicios-card button:hover{
                background: #ffe83f; 
                color: #03213a  ;
            }



.sobre-nosotros{
   /*  background-color: darkred;
    background-image: url('https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_960_720.jpg');
    background-image: url('https://images.unsplash.com/photo-1499540633125-484965b60031?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80');
    
    background-color: rgb(73, 75, 75);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light; */
    background-color: linear-gradient(to right, #ff6b3e, #ffac34);
    background: linear-gradient(to right, #123343, #14568d);
    padding: 100px 0;
}
.contenedor-sobre-nosotros{
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
}
.contenedor-sobre-nosotros h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #ffd366;
}
.contenedor-sobre-nosotros p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}
.card img{
    width: 300px;
    height: 300px;
}
           /*  TRABAJOS */

.trabajos{
        background: #03213a;
        background-color: #fff;
        width: 100%;
        height: 100%;
}
    .trabajos h2{
        color: #000;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 30px;
    }
    .trabajos h2::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;

    }
    .slide img{ 
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
    .color-span{
        color: #ffe83f;
        font-size: 40px;
    }
    .link-trabajos{
        display: flex;
        justify-content: center;
    }
    .link-trabajos button{ 
        margin: 30px 0 70px 0;
        width: 100%;
        padding: 10px 30px;
        border: none;
        background: #fffb59;
        border: 2px solid #fffb59;
        border-radius: 50px;
        color: #000;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }
    .link-trabajos button:hover{
        background:#ffd366 ;
        border: 2px solid #ffd366;
        color: #03213a ;
    }


            /* EQUIPO */

.equipo{
    width: 100%;
    height: 100%;
    padding: 40px 0;
    background-color: royalblue;
    background-image: url('../img/fondo-equipo.jpg') ;
    background-color: rgb(42, 44, 44);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    object-fit: cover;
    
    
    /* background-image: linear-gradient(to right, #ff3d56  , #20a1d8); */
    /* background-color:  linear-gradient(to-rigth, , ) ; */
 }
    .equipo h2{
        color: #fff;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 30px 0 0 0;
    }
    .equipo h2::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;
    }
    .contenedor-team{
        height: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-team p{
        font-size: 30px;
        padding: 30px 0 ;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 2px;
    }
    .contenedor-team-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contenedor-team button{
        background-color: transparent;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #fff;
    }
    .contenedor-team button:hover{
        background-color: #ffd366;
        border: 2px solid #ffd366 ;
        color: #000;
        transition: 0.5s;
    }

    /* CONTACTO */
.contacto{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 30px;
}
    .contacto-texto{
        padding: 20px 0;
    }
    .contacto-texto h3{
        color: #000;
        text-align: center;
        font-size: 60px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 20px;
    }
    .contacto-texto h3::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;
    }
    .contacto-texto p{
        text-align: center;
        font-size: 20px;
        color: #000;
    }
    .contacto-form{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }
    .alto-mensaje{
        height: 150px  !important;
    }
    .input{
        background: #fff; 
        padding: 15px;
        margin: 10px 0;
    }
    .input-group-btn button{
        margin: 0 auto;
        width: 150px;
        background-color: #ffd366;
        color: #03213a;
        padding: 10px;
        border: none;
    }
    .input-group-btn button:hover{
        background-color: #fffb59;
    }
    .contenedor-check{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        color: #000;
    }


   /*  PIE DE LA PAGINA */
.footer{
    width: 100%;
    height: 100%;
    background-color: #03213a;
}
    .footer-contenedor{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
       
    }
    .footer-logo img{
        width: 150px;
        height: 150px;
    }
    .footer-logo p{
        color: #fff;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Roboto';
        padding: 20px 0;
        font-weight: bolder;
    }
    .footer-texto{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .footer-texto h3{
        font-size: 40px;
        font-weight: bolder;
        color: #ffe83f;
        padding: 0 0 20px 0;
    }
    .footer-texto p{
        font-size: 18px;
        color: #fff;
    }
.footer-bitcoin img{
    width: 200px;
    height: 200px;
    object-fit: cover;
   
}
.footer-redes{
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
    .footer-redes p{
        color: #fff;
        margin: 0;
       /*  padding: 30px 0; */
    }
    .redes-sociales{
       /*  padding: 20px; */
    }
    .redes-sociales i{
        font-size: 30px;
        margin: 0 20px;
        color: #fff;
    }
    .redes-sociales i:hover{
        color: #ffe83f;
        cursor: pointer;
    }
   

@media (max-width: 965px){
    .header-encabezado h3{
        font-size: 80px;
    }
    .header-encabezado p{
        font-size: 40px;
    }
}
@media (max-width: 770px){
    .header-encabezado h3{
        font-size: 60px;
    }
    .header-encabezado p{
        font-size: 30px;
    }
    .contenedor-sobre-nosotros h3{
        font-size: 30px;
    }
    .contenedor-sobre-nosotros p{
        font-size: 20px;
    }
    .trabajos h2{
        font-size: 30px;
    }
    .contacto-form{
        width: 100%;
    }
    .footer-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-texto{
        width: 100%;
    }
    .footer-logo {
       margin: 0 auto;
    }
    .footer-redes p{
        font-size: 15px;
        padding: 25px 0;
        margin: 0;
        
    }
    .redes-sociales{
        padding: 20px;
    }
    .redes-sociales i{
        font-size: 25px;
        margin: 0 20px;
        color: #fff;
       
    }
}
@media (max-width: 710px){
    .header-encabezado h3{
        font-size: 60px;
    }
    .footer-redes{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .footer-redes p{
        text-align: center;
    }
    .redes-sociales{
        align-self: center;
    }
    .redes-sociales i{
        font-size: 30px;
        margin: 0 20px;
        color: #fff;
    }
    .whatsapp {
        height: 50px;
        width: 50px; 
        bottom: 10px;
        border: none;
    }
    .whatsapp i{
        margin: auto;
        font-size: 30px;
    }
}

@media (max-width: 650px){
    .header-encabezado h3{
        font-size: 70px;
    }
    .header-encabezado p{
        font-size: 30px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .servicios h1{
        font-size: 45px;
        padding: 0;
    }
    .header-encabezado a{
        font-size: 30px;
    }
    .carousel-item img{
        margin: 0 auto;
        height: 350px;
    }
    .equipo h2{
        font-size: 40px;
    }
    .contenedor-team p{
        font-size: 20px;
    }
    
    .contacto-texto h3{
        font-size: 40px;
    }
    .contacto-texto p{
        font-size: 16px;
    }
    .contenedor-check{
        width: 100%;
        display: flex;
        padding: 10px 0;
        flex-flow: column wrap;
        align-items: center;
        color: #000;
    }
    .form-check{
        align-items: center;
        justify-content: center;
        width: 35%;
    }
   /*  .footer-logo img{
        width: 80px;
        height: 80px;
    } */
    .footer-logo p{
        font-size: 30px;
    }
    .footer-texto h3{
        font-size: 25px;
    }
    .footer-texto p{
        font-size: 20px;
    }
}
@media (max-width: 490px){
    .servicios h1{
        font-size: 30px;
    }
    .header-texto h3{
        font-size: 60px;
    }
    .header-texto p{
        font-size: 30px;
    }
    .servicios-card{
        width: 300px;
       margin: 10px 0;
    }
    .trabajos h2{
        font-size: 30px;
        padding: 20px ;
    }
    .contacto-form{
       
        width: 100%;
    }
    .contacto-texto h3{
        font-size: 40px;
    }
    .contenedor-check{
        width: 100%;
        display: flex;
        padding: 10px 0;
        color: #000;
    }
    .form-check{
        align-items: center;
        justify-content: center;
        width: 45%;
    }
    .footer-texto p{
        font-size: 15px;
    }
    .footer-redes p{
        font-size: 13px;
    }
}
@media (max-width: 410px){
    .header-encabezado h3{
        font-size: 50px;
    }
    .header-encabezado p{
        font-size: 25px;
    }
    .footer-bitcoin img{
        margin: 15px 0;
       
    }
    .contenedor-check{
        width: 100%;
        display: flex;
        padding: 10px 0;
        margin: 0 auto;
       /*  justify-content: center;
        align-self: center;
        align-items: center; */
        
        color: #000;
    }
    .form-check{
        width: 60%;
    }
    .footer-bitcoin img{
        width: 150px;
        height: 150px;
        object-fit: cover;
       
    }
   
    
}

    

