@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.header-encabezado{
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1530303263041-b5ca33678f04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80') ;
    background-color: rgb(73, 75, 75);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;

}
.contenedor-servicios h3{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 40px;
    color: #000;
    text-align: center;
    padding: 20px 0;
}
.contenedor-servicios h3::after{
    content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 0 auto;
}
.container-card{
    height: 100%;
    padding:  40px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   /*  align-content: center; */
    justify-content: center;
}
.card{
    width: 250px;
    height: 100%;
    margin: 20px;
    position: relative;
    overflow: hidden;
}
.card img{
    width: 250px;
    cursor: pointer;
    transition: 0.4s;
    object-fit: contain;
}
.oculto {
    background: #03213aed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 10%;
    display: none;
}
.oculto h4{
    padding: 10px;
    font-size: 18px;
    text-align: left;
}
.zoom {
    transform: scale(1.1);
    transition: 0.4s;
}
.container-abonos{
    padding: 20px;
    background-color: #03213a;
}
.container-abonos h4{
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.container-abonos p{
    color: #fff;
    font-size: 25px;
    font-family: 'Varela', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    padding: 30px;
}
.abonos{
    padding: 30px 0;
}
.abonos-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 0;
}

.abonos img{
   width: 600px;
}

.footer{
    border-top: 1px solid rgba(204, 204, 204, 0.274);
}
@media (max-width: 1020px){
    .abonos-text-p{
        width: 100%;
        padding: 30px;
    }
    .abonos-text img{
        width: 100%;
    }
}
@media (max-width: 800px){
    .contenedor-tienda-title h3{
        font-size: 45px;
    }
    .tienda-first-text{
        width: 100%;
        padding: 40px;
    }
    .tienda-first-text p{
        font-size: 25px;
    }
    .tienda-second-text{
        width: 100%;
        padding: 40px;
    }
    .tienda-second-text p{
        font-size: 25px;
    }

}
@media (max-width: 600px){
    .tienda-first-image img{
        width: 400px;
        padding: 20px;
        object-fit: contain;
    }
    .abonos img{
        width: 100%;
    }

}
@media (max-width: 400px){
    .tienda-first-image img{
        width: 300px;
        padding: 20px;
        object-fit: contain;
    }
    .tienda-second-img img{
        width: 300px;
        padding: 20px;
        object-fit: contain;
    }
    .tienda-first-text p{
        font-size: 20px;
    }
    .tienda-second-text p{
        font-size: 20px;
    }
}