*{
    margin: 0;
    padding: 0;
}
.centrar{
    margin: 0 auto;
}
.show{
    background-color: #001f2f;
}
.show .nav-link-custom{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-nav{
  /*   background-color: #fb3245; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 0;
  
}
.tamaño{
    font-size: 50px;
    width: 20px;
    height: 20px;
}

.contenedor-header{
    width: 100%;
    height: 100%;
}
.navbar{
    
    box-shadow: none;
}
.top-nav-collapse{
    background: #001f2f !important;
}
.nav-link-custom{
    width: 100px;
    text-align: center;
   
    padding: 5px 10px;
   
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.nav-link-custom:hover{
    color: #ffe83f;
}
.contacto-border{
    border: 1px solid #fff;
}
.contacto-border:hover{
    transition: 0.5s;
    background-color: #fff;
    color: #001f2f;
}

    
   
.header-encabezado{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    background-image: url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80') ;
    background-color: rgb(42, 44, 44);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;

    
}
.header-texto{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30%;
}
.header-texto h3{
    padding: 10px; 
    font-size: 100px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    align-self: center;
   
}
.header-texto p{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 10%;

}
.header-texto a{
    color: #fffb59;
    /* margin: 0 auto; */
    align-self: center;
    font-size: 50px;
    
   
    
}
.whatsapp {
    display: flex;
    height: 80px;
    width: 80px; 
    border-radius: 50%;
    justify-content: center;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    margin: 10px;
    bottom: 20px;

}
.whatsapp i{
    margin: 0 auto;
    font-size: 50px;
}
.servicios{
    width: 100%;
    height: 100%;
    /* background: #001f2f; */
  /*   background: #fff; */
     background: #001f2f;
     background-color: #f3f3f3;
     padding: 10px 0 50px 0;
}
    .servicios h1{
        color: #000;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin: 25px;
        padding: 50px;
    }
    .servicios h1::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 0 auto;

    }
    .servicios-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
       
    }
        .servicios-card{
            height: 100%;
            width: 400px;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 10px;
        }
            .servicios-card img{
                margin: 0 auto;
                width: 300px;
                height: 300px;
            }
            .servicios-card h3{
                color: #000;
                font-size: 30px;
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            .servicios-card p{
                color: #000;
                font-size: 15px;
                padding: 20px;
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            .servicios-card button {
                align-self: center;
                background-color: #fffb59;
                color: #000;
                border-radius: 5px;
                border: none;
                margin: 20px;
                padding: 10px;
                width: 50%;
                cursor: pointer;
            }
            .servicios-card:hover{
                cursor: pointer;
                background-color: #ffd366;
                color: #000;
                transition: 0.5s;
            }
            .servicios-card button:hover{
                background: #ffe83f;
                color: #001f2f  ;
            }


.trabajos{
        background: #001f2f;
        width: 100%;
        height: 100%;
}
    .trabajos h2{
        color: #fff;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 30px;
    }
    .trabajos h2::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;

    }
    .slide img{
       
        width: 100%;
        height: 90vh;
        object-fit: cover;
        
    }
    .color-span{
        color: #ffe83f;
        font-size: 40px;
    }
    .link-trabajos{
        display: flex;
        justify-content: center;
    }
    .link-trabajos button{ 
        margin: 30px 0 70px 0;
        width: 100%;
        padding: 10px 30px;
        border: none;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }
    .link-trabajos button:hover{
        background:#ffd366 ;
        border: 2px solid #ffd366;
        color: #001f2f ;
    }
.equipo{
    width: 100%;
    height: 100%;
    padding: 40px 0;
    /* background-image: url('img/fondo-equipo.jpg'); */
  /*   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light; */
    background-image: linear-gradient(to right,#005251  , #fb3245);
    /* background-color:  linear-gradient(to-rigth, , ) ; */
 }

    .equipo h2{
        color: #fff;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 30px 0 0 0;
    }
    .equipo h2::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;
    }
    .contenedor-team{
        height: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-team p{
        font-size: 30px;
        padding: 30px 0 ;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 2px;
    }
    
    .contenedor-team-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contenedor-team button{
        background-color: transparent;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #fff;
    }
    .contenedor-team button:hover{
        background-color: #ffd366;
        border: 2px solid #ffd366 ;
        color: #000;
        transition: 0.5s;
    }
.contacto{
    width: 100%;
    height: 100%;
   
    /* background-color: #001f2f; */
    background-color: #f3f3f3;
    padding: 30px;
}
    .contacto-texto{
        padding: 50px;
    }
    .contacto-texto h3{
        color: #000;
        text-align: center;
        font-size: 60px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 20px;
    }
    .contacto-texto h3::after{
        content: "";
        width: 10%;
        height: 8px;
        background: #fffb59 ;
        display: block;
        margin: 20px auto 20px auto;
    }
    .contacto-texto p{
        text-align: center;
        font-size: 20px;
        color: #000;
    }
    .contacto-form{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }
    .alto-mensaje{
        height: 150px  !important;
    }
    .input{
        background: #fff; 
        padding: 15px;
        margin: 10px 0;
    }
    .input-group-btn button{
        margin: 0 auto;
        width: 30%;
        background-color: #ffd366;
        color: #001f2f;
        padding: 10px;
        border: none;
    }
    .input-group-btn button:hover{
        background-color: #fffb59;
    }
    .contenedor-check{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        color: #000;
    }
.footer{
    width: 100%;
    height: 100%;
    /* background-color: #232323; */
      background-color: #001f2f;
}
    .footer-contenedor{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
       
    }
    .footer-logo img{
        width: 150px;
        height: 150px;
    }
    .footer-logo p{
        color: #fff;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Roboto';
        padding: 20px 0;
        font-weight: bolder;
    }
    .footer-texto{
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .footer-texto h3{
        font-size: 30px;
        font-weight: bolder;
        color: #ffe83f;
        padding: 0 0 20px 0;
    }
    .footer-texto p{
        font-size: 16px;
        color: #fff;
    }
.footer-redes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
    .footer-redes p{
        color: #fff;
        padding: 30px 0;
        
    }
    .redes-sociales{
       /*  height: 64px;
        width: 250px; */
       
        padding: 20px;
    }
    .redes-sociales i{
        font-size: 30px;
        margin: 0 20px;
        color: #fff;
       
    }
    .redes-sociales i:hover{
        color: #ffe83f;
        cursor: pointer;
    }
   

@media (max-width: 965px){
    .header-encabezado h3{
        font-size: 80px;
    }
    .header-encabezado p{
        font-size: 40px;
    }
}
@media (max-width: 770px){
    .header-encabezado h3{
        font-size: 60px;
    }
    .header-encabezado p{
        font-size: 30px;
    }
    .footer-contenedor{
        display: flex;
        flex-direction: column;
    }
    .footer-texto{
        width: 100%;
    }
    .footer-logo {
       margin: 0 auto;
    }
    .footer-redes p{
        font-size: 15px;
        padding: 25px 0;
        margin: 0;
        
    }
    .redes-sociales{
        padding: 20px;
    }
    .redes-sociales i{
        font-size: 25px;
        margin: 0 20px;
        color: #fff;
       
    }
}
@media (max-width: 710px){
    .header-encabezado h3{
        font-size: 60px;
       
    }
   
    .footer-redes{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .footer-redes p{
        text-align: center;
    }
    .redes-sociales{
        align-self: center;
    }
    .redes-sociales i{
        font-size: 30px;
        margin: 0 20px;
        color: #fff;
       
    }
}
@media (max-width: 650px){
    .header-encabezado h3{
        font-size: 70px;
    }
    .header-encabezado p{
        font-size: 30px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .servicios h1{
        font-size: 40px;
    }
    .header-encabezado a{
        font-size: 30px;
    }
    .trabajos h2{
        font-size: 40px;
        margin: 0;
    }
    .carousel-item img{
        margin: 0 auto;
        height: 350px;
    }
    .equipo h2{
        font-size: 40px;
    }
    .contenedor-team p{
        font-size: 20px;
    }
    .contacto-texto h3{
        font-size: 40px;
    }
    .contacto-texto p{
        font-size: 16px;
    }
    .contenedor-check{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   /*  .footer-logo img{
        width: 80px;
        height: 80px;
    } */
    .footer-logo p{
        font-size: 30px;
    }
    .footer-texto h3{
        font-size: 25px;
    }
    .footer-texto p{
        font-size: 20px;
    }
}
@media (max-width: 490px){
    .header-texto h3{
        font-size: 60px;
    }
    .header-texto p{
        font-size: 30px;
    }
    .contacto-form{
       
        width: 100%;
    }
    .contacto-texto h3{
        margin: 0 auto;
    }
    .footer-texto p{
        font-size: 15px;
    }
    .footer-redes p{
        font-size: 13px;
    }
}
@media (max-width: 410px){
    .header-encabezado h3{
        font-size: 50px;
    }
    .header-encabezado p{
        font-size: 25px;
    }
    .servicios h1{
        font-size: 25px;
    }
}

    

